In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv(r"C:\Users\amish\Downloads\archive (5)\25k IMDb movie Dataset.csv")

In [3]:
data.head()

,movie title,Run Time,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/
3,Lightyear,"$71,101,257",5.2,32K,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane,-2022,/title/tt10298810/
4,Spiderhead,not-released,5.4,23K,"['Action', 'Crime', 'Drama']","In the near future, convicts are offered the c...","['discover', 'medical', 'test', 'reality', 'fi...",Joseph Kosinski,"['Rhett Reese', 'Paul Wernick', 'Chris Hemswor...",George Saunders,-2022,/title/tt9783600/

In [4]:
data.rename(columns = {'Plot Kyeword': 'Plot_Keyword','Top 5 Casts':'Top_5_Casts','movie title':'Title'},inplace = True)

In [5]:
data.head()

,Title,Run Time,Rating,User Rating,Generes,Overview,Plot_Keyword,Director,Top_5_Casts,Writer,year,path
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/
3,Lightyear,"$71,101,257",5.2,32K,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane,-2022,/title/tt10298810/
4,Spiderhead,not-released,5.4,23K,"['Action', 'Crime', 'Drama']","In the near future, convicts are offered the c...","['discover', 'medical', 'test', 'reality', 'fi...",Joseph Kosinski,"['Rhett Reese', 'Paul Wernick', 'Chris Hemswor...",George Saunders,-2022,/title/tt9783600/

In [6]:
features = ['Rating','Generes','Plot_Keyword','Director','Top_5_Casts']

In [7]:
def combine_features(row):
 return row['Rating']+' '+row['Generes']+' '+row['Plot_Keyword']+' '+row['Director']+' '+row['Top_5_Casts']

In [8]:
#filling all NaNs with blank string
for feature in features:
    data[feature] = data[feature].fillna(' ')

In [9]:
 #applying combined_features() method over each rows of dataframe and storing the combined string in “combined_features” column
data['combine_features'] = data.apply(combine_features,axis=1)

In [10]:
data.rename_axis('index')

,Title,Run Time,Rating,User Rating,Generes,Overview,Plot_Keyword,Director,Top_5_Casts,Writer,year,path,combine_features
index,,,,,,,,,,,,,
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/,"8.6 ['Action', 'Drama'] ['fighter jet', 'seque..."
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/,"6 ['Action', 'Adventure', 'Sci-Fi'] ['dinosaur..."
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/,"6.9 ['Action', 'Drama'] ['pilot', 'male camara..."
3,Lightyear,"$71,101,257",5.2,32K,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane,-2022,/title/tt10298810/,"5.2 ['Animation', 'Action', 'Adventure'] ['gal..."
4,Spiderhead,not-released,5.4,23K,"['Action', 'Crime', 'Drama']","In the near future, convicts are offered the c...","['discover', 'medical', 'test', 'reality', 'fi...",Joseph Kosinski,"['Rhett Reese', 'Paul Wernick', 'Chris Hemswor...",George Saunders,-2022,/title/tt9783600/,"5.4 ['Action', 'Crime', 'Drama'] ['discover', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24397,Delicatessen,"FRF 24,000,000 (estimated)",7.6,85K,"['Comedy', 'Crime']",Post-apocalyptic surrealist black comedy about...,"['surrealist', 'black comedy', 'human meat', '...",Marc Caro,"['Jean-Pierre Jeunet', 'Marc Caro', 'Gilles Ad...",Jean-Pierre Jeunet,-1991,/title/tt0101700/,"7.6 ['Comedy', 'Crime'] ['surrealist', 'black ..."
24398,Bitch Ass,not-released,5.5,52,"['Crime', 'Horror']",A gang initiation goes wrong when a group of f...,[],Bill Posley,"['Bill Posley', 'Teon Kelley', 'Tunde Laleye',...",Jonathan Colomb,-2022,/title/tt13991504/,"5.5 ['Crime', 'Horror'] [] Bill Posley ['Bill ..."
24399,Bullwhip,not-released,5.1,398,"['Crime', 'Romance', 'Western']","In order to avoid the hangman's noose, a cowbo...","['taming of the shrew', 'fur trader', 'busines...",Harmon Jones,"['Guy Madison', 'Rhonda Fleming', 'James Griff...",Adele Buffington,-1958,/title/tt0051438/,"5.1 ['Crime', 'Romance', 'Western'] ['taming o..."
24400,The Freshman,1 hour 42 minutes,6.4,20K,"['Comedy', 'Crime']",An N.Y.C. film school student accepts a job wi...,"['endangered species', 'fish out of water', 'g...",Andrew Bergman,"['Marlon Brando', 'Matthew Broderick', 'Bruno ...",Andrew Bergman,-1990,/title/tt0099615/,"6.4 ['Comedy', 'Crime'] ['endangered species',..."
24401,Guys and Dolls,"$5,500,000 (estimated)",7.1,18K,"['Comedy', 'Crime', 'Musical']","In New York, a gambler is challenged to take a...","['mission', 'gambler', 'new york city', 'based...",Joseph L. Mankiewicz,"['Abe Burrows', 'Damon Runyon', 'Marlon Brando...",Jo Swerling,-1955,/title/tt0048140/,"7.1 ['Comedy', 'Crime', 'Musical'] ['mission',..."

In [11]:
data.head()

,Title,Run Time,Rating,User Rating,Generes,Overview,Plot_Keyword,Director,Top_5_Casts,Writer,year,path,combine_features
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/,"8.6 ['Action', 'Drama'] ['fighter jet', 'seque..."
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/,"6 ['Action', 'Adventure', 'Sci-Fi'] ['dinosaur..."
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/,"6.9 ['Action', 'Drama'] ['pilot', 'male camara..."
3,Lightyear,"$71,101,257",5.2,32K,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane,-2022,/title/tt10298810/,"5.2 ['Animation', 'Action', 'Adventure'] ['gal..."
4,Spiderhead,not-released,5.4,23K,"['Action', 'Crime', 'Drama']","In the near future, convicts are offered the c...","['discover', 'medical', 'test', 'reality', 'fi...",Joseph Kosinski,"['Rhett Reese', 'Paul Wernick', 'Chris Hemswor...",George Saunders,-2022,/title/tt9783600/,"5.4 ['Action', 'Crime', 'Drama'] ['discover', ..."

In [12]:
cv = CountVectorizer() #creating new CountVectorizer() object
count_matrix = cv.fit_transform(data['combine_features']) #feeding combined strings(movie contents) to CountVectorizer() object

In [13]:
count_matrix

<24402x51847 sparse matrix of type '<class 'numpy.int64'>'
	with 636813 stored elements in Compressed Sparse Row format>

In [14]:
cosine_sim = cosine_similarity(count_matrix)

In [15]:
def get_title_from_index(index):
    return data[data.index == index]['Title'].values[0]
def get_index_from_title(Title):
    return data.index[data['Title'] == Title][0]

In [16]:
movie_user_likes = 'The Nun'
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim[movie_index]))
#accessing the row corresponding to given movie to find all the similarity scores for that movie and then enumerating over it

In [17]:
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]

In [18]:
i=0
print("Top 5 similar movies to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>5:
        break

Top 5 similar movies to The Nun are:

Lure of the Wilderness
Borsalino
Vanity Fair
Noroît
The Keys of the Kingdom
Love & Friendship